allow sysinit firmware_exynos:dir { search getattr read open };
allow sysinit firmware_exynos:file { getattr setattr read open write };
allow sysinit self:capability { chown fowner fsetid };