allow system_server sysfs_mdnie:dir search;
allow system_server sysfs_mdnie:lnk_file read;
allow system_server sysfs_mdnie:file { getattr open read write };
allow system_server efs_device_file:dir search;
allow system_server efs_file:dir search;